@page
@model ConcertBuddies.Pages.Client.ConcertgoerListModel
@{
}

<br />
<h2> List of Concertgoers </h2>
<a class="btn btn-primary btn-sm" href="/Client/CreateNewConcertgoer"> New Concertgoer </a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Bio</th>
            <th>Username</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listConcertgoer)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.name</td>
                <td>@item.bio</td>
                <td>@item.username</td>
                <td>@item.password</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Client/EditConcertgoer?id=@item.ID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Client/DeleteConcertgoer?id=@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>